.comp-CabecalhoAdm{
    display: flex;

    height: auto;
    width: 100%;


    span{
        height: 45px;
        width: 45px;

        transition: .1s;

        margin-right: 20px;
    }

    span:hover{
        transform: scale(1.1);
    }

    nav{
        display: flex;

        height: 60px;
        width: 100%;

        align-items: center;

        background-color: #EBEBEB;

        img{
            height: 50px;
            width: 50px;

            transition: .1s;
        }

        img:hover{
            transform: scale(1.1);
        }

        article{
            display: flex;
            width: 20%;

            justify-content: space-evenly;
            align-items: center;

            img:nth-child(1){
                height: 40px;
                width: 45px;
            }
        }

        input{
            color: #7D7878;
            font-family: 'inter';
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            margin-left: 10px;
            height: 100%;
        }
    }
}

@media (max-width: 888px) {
    .comp-CabecalhoAdm{
        nav{

            img:nth-child(1){
                height: 35px;
                width: 40px;
            }

            img:nth-child(3){
                display: flex;

                height: 40px;
                width: 40px;
                margin-right: 20px;
            }

            article{
                display: flex;
        
                height: 100%;
                width: 25%;
                
                justify-content: space-evenly;
                align-items: center;

                img:nth-child(1){
                    height: 30px;
                    width: 30px;
                }

                img:nth-child(2){
                    height: 30px;
                    width: 35px;
                }
             }

            span{
                display: none;
            }
        }
    }
}