.comp-CabecalhoAdm{
    display: flex;

    height: auto;
    width: 100%;


    span{
        height: 45px;
        width: 45px;

        background-image: url(../../assets/img/barras.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 140% 100%;
        margin-right: 40px;

        transition: .1s;
    }

    span:hover{
        transform: scale(1.1);
    }

    nav{
        display: flex;

        height: 60px;
        width: 100%;

        align-items: center;

        background-color: #EBEBEB;

        img{
            height: 50px;
            width: 50px;

            transition: .1s;
        }

        img:hover{
            transform: scale(1.1);
        }

        input{
            color: #7D7878;
            font-family: 'inter';
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            margin-left: 10px;
            height: 100%;
        }
    }
}