.pagina-cadastro {
    display: flex;

    flex-direction: column;
    align-items: center;

    height: 900px;
    width: 100%;

    background-color: #F0EFEF;

    .titulo {

        display: flex;

        flex-direction: column;
        align-items: center;

        margin-bottom: 10px;
        margin-top: 40px;

        padding: 10px 50px;

        h1 {
            width: 800px;

            font-family: 'fonte1';
            font-size: 40px;

            letter-spacing: 11px;

            text-align: center;

            margin: 0px 0px 19px 0px;
        }

        h2 {
            font-family: 'fonte1';

            width: 650px;

            font-size: 34px;
            text-align: center;

            letter-spacing: 10px;

            letter-spacing: 9px;
        }
    }

    .input {
        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        height: 450px;
        width: 430px;

        border-radius: 33px;

        background-color: #d7d7d7;

        .top {
            height: 40px;
            width: 400px;

            border-radius: 9px;
            margin-top: 75px;
        }

        .bottom {
            height: 40px;
            width: 400px;

            border-radius: 9px;
            margin-bottom: 55px;
        }

        input {
            height: 40px;
            width: 400px;

            border-radius: 9px;

            margin: 5px;
            
            border: 1px solid #616161;
        }

        button {
            padding: 10px 25px;

            background-color: #000;
            color: #fff;

            border-radius: 11px;

            border: none;
        }

        button:hover {
            padding: 10px 25px;

            background-color: #fff;
            color: #000;

            border-radius: 11px;

            transition: .3s;

            border: 1px solid #616161;
        }
    }

}

