.Pagina-HomeAdm{
    display: flex;

    height: 100vh;
    width: 100%;

    main{
        display: flex;

        height: auto;
        width: 100%;

        flex-direction: column;

        section{
            margin-top: 5px;

            display: flex;

            height: 100%;
            width: 100%;

            background-color: #ebebeb;
        }
    }
}