.Pagina-HomeAdm{
    display: flex;

    height: auto;
    width: 100%;

    main{
        display: flex;

        height: 688px;
        width: 100%;

        background-color: white;

        flex-direction: column;

        section{
            margin-top: 5px;

            display: flex;

            height: 412px;
            width: 100%;

            background-color: #ebebeb;
        }
    }
}