.pagina-statusadm{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    overflow: hidden;

    section{
        width: 100%;
        background-color: #EBEBEB;
        display: flex;
        flex-direction: column;
        height: 92vh;
        margin-top: 5px;
        align-items: center;
        justify-content: center;
    }

    .cabeca{
        width: 100%;
        margin-left: 5px;
    }

    main{
        background-color: #fff;
        margin-top: 5px;
        height: 400px;
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        width: 90%;
        height: 600px;
        border-radius: 8px;
        padding: 20px 40px;
    }

    .editor{
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            justify-content: center;
            display: flex;
            font: 21px 'inria-sans';
            margin-bottom: 25px;
        }

        input{
            background-color: #EBEBEB;
            border: none;
            outline: none;
            padding: 7px 10px;
            width: 30%;
            border-radius: 5px;
            font-size: 15px;
        }
    }

    .status-produto{
        height: 340px;
        display: flex;
        align-items: flex-end;
        width: 70%;
        justify-content: space-between;
    }

    .status{
        display: flex;
        flex-direction: column;
        width: 35%;

        h1{
            font: 21px 'inter';
            font-weight: 600;
            margin-bottom: 20px;
        }

        select{
            background-color: #EBEBEB;
            padding: 5px 10px;
            width: 70%;
            border: none;
            margin-bottom: 10px;
            outline: none;
            font-family: 'inter';
            border-radius: 3px;
            align-self: center;
        }

        button{
            border-radius: 15px;
        }
    }

    .produto{
        display: flex;
        flex-direction: column;

        h1{
            font: 21px 'inter';
            font-weight: 600;
            margin-bottom: 45px;
        }
    } 

    .produto-imagem{
        margin-bottom: 35px;
        border: 1px solid #000;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        p{
            font: 15px 'inter';
            font-weight: bold;
            margin-bottom: 10px;
        }

        img{
            width: 60px;
            border-radius: 10px;
            margin-right: 15px;
        }
    }

    button{
        background-color: #000;
        color: #fff;
        border: none;

        border-radius: 20px;

        padding: 8px ;
        cursor: pointer;
        border-radius: 3px;
        width: 50%;
        transition: 0.3s;
        align-self: center;
        margin-top: 20px;
    }

    button:hover{
        background-color: white;
        color: black;
        outline: 1px solid black;
    }
}

@media (max-width: 720px){
    .pagina-statusadm{
        .cabeca{
            main{
                .editor{
                    h1{
                        font-size: 20px;
                    }
                }

                .status-produto{
                    flex-direction: column;
                    justify-content: space-evenly;

                    height: 100%;

                    gap: 30px;
                    width: 100%;

                    align-items: center;

                    .status{
                        width: 50%;

                        h1{
                            font-size: 17px;
                        }

                        select{
                            width: 100%;
                        }

                        button{
                            width: 70%;

                            border-radius: 15px;
                            font-size: 12px;
                        }
                    }

                    .produto-imagem{
                        width: 110%;
                    }
                }
            }
        }
    }
}