.pagina-guia{
    display: flex;

    height: auto;
    width: 100%;

    flex-direction: column;

    .Rodape{
        .rdp{
            height: 300px;
            .Atendimento, .Newsletter{
                div{
                    img{
                        margin-bottom: inherit;
                    }
                }
            }
        }
    }

    main{
        display: flex;

        height: auto;
        width: 100%;

        flex-direction: column;

        align-items: center;

        img:nth-child(6){
            height: 300px;
            width: 600px;
        }

        img:last-child{
            height: 300px;
            width: 500px;

            margin-bottom: 10vh;
        }

        h1,h2,p{ 
            font-family: 'inria-sans';
            text-align: center;
        }

        h1{
            font-size: 30px;
            margin-top: 20px;
            margin-bottom: 5px;
        }

        p:nth-child(3){
            width: 70%;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        p:nth-child(5){
            width: 67%;
            margin-bottom: 10px;
        }

        h2{
            margin-bottom: 10px;
        }

        h2:nth-child(7){
            font-size: 25px;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        p:nth-child(8){
            width: 70%;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 720px){
    .pagina-guia{
        main{

            h1, h2{
                font-size: 18px;
            }

            p{
                font-size: 13px;    
            }

            img:nth-child(6){
                width: 300px;
                height: 200px;
            }

            img:last-child{
                width: 300px;
                height: 200px;
            }
        }
    }
}

@media (max-width: 360px) {
    .pagina-guia{
        main{
            img:nth-child(6){
                width: 150px;
                height: 100px;
            }

            img:last-child{
                width: 150px;
                height: 100px;

                margin-bottom: 1vh;
            }
        }
    }
}