.comp-carrossele{
    height: 1080px;
    width: 100%;

    align-items: center;
    justify-content: center;

    .slide-item{
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}
