.comp-carrossele{
    height: auto;
    width: 100%;

    align-items: center;
    justify-content: center;

    .slide-item{
        height: 300px;
        width: 100%;

        object-fit: cover;
    }

    .swiper-button-prev::after,
     .swiper-button-next::after{
        color: white;
    }

    .slide{
        display: flex;
        
        width: 100%;

        position: relative;

        .filtr{
            width: auto;
            position: absolute;

            bottom: 10%;
        }

        button{
            border-radius: 20px;

            height: 46px;
            width: 240px;

            right: 77%;
            bottom: 10%;

            font-family: "fonte1";
            font-size: 14px;

            transition: .3s;

            background-color: transparent;    

            animation: btn;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;

            cursor: pointer;
        }
    }

    .bt-joia {
        width: 100%;
        height: 3em;

        border-radius: 10px;
        border: none;

        font-size: 15px;
        font-family: "fonte1";
        font-weight: bolder;

        background-color: grey;
        color: white;

        position: relative;
        overflow: hidden;
        z-index: 1;


        transition: .3s;
        cursor: pointer;

        left: 10%;
    }
       
    .bt-joia::before {
        content: '';
        width: 0;
        height: 60px;
        position: absolute;
        
        top: 0;
        left: 0;
       
        background-image: linear-gradient(-45deg, #000000 8%, #f1f1f1 90%);
        transition: .4s ease-in;
        display: block;
        z-index: -1;
        box-shadow: 20px 0px 25px 0px rgb(39, 39, 39);
    }
       
    .bt-joia:hover::before {
        width: 20em;
    }

    .bt-joia:hover{
        transform: scale(1.1);
        box-shadow: 0px 0px 10px 0px white;
    }

    .main{
        position: relative;
    }

    .main > .slide-item{
        position: relative;
    }

    @keyframes btn{
        from{
            color: black;
            border: 1.5px solid black;

        }
        to{
            color: white;
            border: 1.5px solid white;
        }
    }
}
