.comp-opcoes{
    display: flex;

    height: 20vh;
    width: 100%;

    align-items: center;
    justify-content: space-evenly;

    background-color: #EBEBEB;

    margin-top: 5px;

    .graph, .estoque, .vendas{
        text-decoration: none;
    }

    article{
        display: flex;

        height: 150px;
        width: 250px;

        align-items: center;
        justify-content: space-evenly;

        border-radius: 15px;

        background-color: white;

        transition: .1s;
        
        .a1{
            background-image: url(../../assets/img/i-money.png);
        }

        .a2{
            background-image: url(../../assets/img/i-graph.png);
        }

        .a3{
            background-image: url(../../assets/img/i-graph2.png);
        }

        .a1, .a2, .a3{
            height: 100px;
            width: 100px;

            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 100%;
        }

        p{
            font-size: 20px;
        }
    }

    article:hover{
        transform: scale(1.1);
    }

    article:active{
        border: 0.5px solid black;
    }
}

@media (max-width: 720px){
    .comp-opcoes{
        article{

            justify-content: space-around;

            height: 130px;
            width: 100%;
            
            background-color: purple;

            .a1{
                height: 100px;
                width: 100px;
            }

            .a2{
                height: 100px;
            }

            .a3{

            }
        }
    }
}