.pagina-politica{
    display: flex;

    height: auto;
    width: 100%;

    flex-direction: column;

    main{
        display: flex;

        height: auto;
        width: 100%;

        justify-content: center;

        flex-direction: column;

        p{
            font-family: 'baloothambi';
            margin-left: 20px;
        }

        p:nth-child(1){
            font-weight: bolder;
            font-size: 18px;

            margin-top: 10px;
            margin-left: 20px;
        }        

        p:nth-child(2){
            width: 90%;
        }

        p:nth-child(4),
            p:nth-child(6){
            font-weight: bolder;
        }

        .topico{
            font-family: 'baloothambi';
            margin-left: 20px;
            margin-bottom: 10px;
        }
    }
}

