.pagina-minhaconta{
    display: flex;

    height: auto;
    width: 100%;

    flex-direction: column;

    background-color: #D9D9D9;


    nav{
        display: flex;

        height: 150px;
        width: 100%;

        
        justify-content: center;
        align-items: flex-end;

        article{
            display: flex;

            height: 100px;
            width: 100px;

            background-color: black;

            border-radius: 50%;

            justify-content: flex-end;
            align-items: flex-end;

            img{
                height: 50px;
                transition: .1s;
            }

            img:hover{
                transform: scale(1.1);
            }
        }
    }

    main{
        display: flex;

        height: 600px;
        width: 100%;
        
        align-items: center;    

        .opcoes{
            display: flex;

            flex-direction: column;

            height: 420px;
            width: 30%;

            align-items: center;
            justify-content: space-between;


            p{
                height: 28px;
                width: 52%;

                font-family: 'inria-sans';
                
                transition: .3s;

                border-bottom: 1px solid black;
            }    

            p:nth-child(1){                
                width: 70%;
                border-bottom: 1px solid #0047FF;
                margin-left: 50px;
            }

            p:nth-child(2):hover,
             p:nth-child(3):hover,
              p:nth-child(4):hover,
               p:nth-child(5):hover,
                p:nth-child(6):hover,
                 p:nth-child(7):hover{
                    
                width: 73%;
                margin-left: 50px;
                border-bottom: 1px solid #0047FF;
            }

            section{
                display: flex;
    
                width: 100%;
                padding-left: 55px;
    
                img{
                    height: 20px;
                    padding-left: 5px;
    
                    transition: .2s;
                }

                img:hover{
                    transform: scale(1.1);
                }
    
                h1{
                    font-family: 'inria-sans';
                }
            }


        }

        aside{
            display: flex;

            height: 600px;
            width: 100%;

            justify-content: center;
            align-items: center;

            span{
                display: flex;

                height: 400px;
                width: 50%;

                flex-direction: column;
                justify-content: space-between;

                input{
                    border: none;
                    height: 50px;
                }

                input:focus-visible{
                    outline: none;
                }
                
                input:nth-child(3),
                 input:nth-child(4), 
                  input:nth-child(6){

                    width: 82%;

                    border-bottom: 2px solid black;
                    padding-left: 20px;
                    border-radius: 20px;

                    background-color: #D9D9D9;
                }
                
                section{
                    display: flex;

                    height: 50px;
                    width: 82%;

                    align-items: center;
                    justify-content: space-between;
                 
                    input{
                        display: flex;

                        height: 50px;
                        width: 45%;
    
                        border-bottom: 2px solid black;
                        padding-left: 20px;
                        border-radius: 20px;

                        background-color: #D9D9D9;
                    }
                }

                button{
                    display: flex;

                    align-self: center;
                    justify-content: center;
                    align-items: center;

                    border: none;
                    border-radius: 15px;

                    background-color: black;
                    color: white;

                    height: 40px;
                    width: 40%;

                    transition: .3s;
                }

                button:hover{
                    background-color: white;
                    color: black;
                }

                button:active{
                    background-color: black;
                    color: white;
                    outline: 2px solid white;
                }
            }
        
            span > input:nth-child(1),
             span > input:nth-child(2){
            
                height: 50px;
                width: 82%;

                padding-left: 20px;

                border-bottom: 2px solid black;
                border-radius: 20px;

                background-color: #D9D9D9;
            }
        }
    }
}

@media (max-width: 1058px) {
    .pagina-minhaconta{
        main{
            .opcoes{
                p{
                    font-size: 12px;
                }


                p:nth-child(2):hover,
                 p:nth-child(3):hover,
                  p:nth-child(4):hover,
                   p:nth-child(5):hover,
                    p:nth-child(6):hover,
                     p:nth-child(7):hover{
                       
                   margin-left: 60px;
               }
   
               p:nth-child(1){
                 margin-left: 50px;
               }


               p:nth-child(2),
                p:nth-child(3),
                 p:nth-child(4),
                  p:nth-child(5),
                   p:nth-child(6),
                    p:nth-child(7){
                     
                 margin-left: 15px;
             }

               section{
                    h1{
                        font-size: 14px;
                    }
               }
            }
        }
    }
}

@media (max-width: 720px) {
    .pagina-minhaconta{ 
        nav{
            article{
                
                height: 80px;
                width: 80px;

                img{
                    width: 30px;
                    height: 30px;
                }
            }
        }

        main{
            aside{
                span{
                    width: 70%; 
                }
            }

            .opcoes{
                p{
                    font-size: 11px;
                }


                p:nth-child(2):hover,
                 p:nth-child(3):hover,
                  p:nth-child(4):hover,
                   p:nth-child(5):hover,
                    p:nth-child(6):hover,
                     p:nth-child(7):hover{
                       
                   margin-left: 60px;
               }
   
               p:nth-child(1){
                margin-left: 0px;
               }


               p:nth-child(2),
                p:nth-child(3),
                 p:nth-child(4),
                  p:nth-child(5),
                   p:nth-child(6),
                    p:nth-child(7){
                     
                 margin-left: 15px;
             }

               section{
                    h1{
                        font-size: 14px;
                    }
               }
            }
        }
    }
}

@media (max-width: 360px){
    .pagina-minhaconta{
        main{
            
            .opcoes{
                p{
                    font-size: 11px;
                }

                p:nth-child(2):hover,
                 p:nth-child(3):hover,
                  p:nth-child(4):hover,
                   p:nth-child(5):hover,
                    p:nth-child(6):hover,
                     p:nth-child(7):hover{
                       
                   margin-left: 30px;
               }
   
               p:nth-child(1){
                margin-left: 20px;
               }

               p:nth-child(2),
                p:nth-child(3),
                 p:nth-child(4),
                  p:nth-child(5),
                   p:nth-child(6),
                    p:nth-child(7){
                     
                 margin-left: 0px;
             }

               section{
                    padding-left: 20px;

                    h1{
                        font-size: 13px;
                    }
               }
            }
        }
    }
}
