.pagina-home{
    display: flex;

    height: 100vh;
    max-width: 100%;

    flex-direction: column;

    .s1{
        display: flex;

        height: 620px;
        width: 100%;
    }
    
    .bt-joia{
        border-radius: 20px;

        height: 46px;
        width: 240px;

        position: absolute;
        right: 77%;
        bottom: 10%;

        font-family: "fonte1";
        font-size: 14px;

        transition: .3s;
        background-color: transparent;    

        animation: btn;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }

    .bt-joia:hover{
        box-shadow: 0px 5px 20px 5px white;
    }

    .main{
        position: relative;
    }

    .main > .slide-item{
        position: relative;
    }

    @keyframes btn{
        from{
            color: black;
            border: 1px solid black;

        }
        to{
            color: white;
            border: 1px solid white;
        }
    }

    .s2{
        display: flex;

        height: 200px;
        width: 100%;

        align-items: center;
        justify-content: space-evenly;

        article{
            display: flex;

            height: auto;
            width: auto;

            flex-direction: column;
            align-items: center;

            padding: 30px;

            img{
                height: 50px;
                width: 50px;
            }

            h1{
                font-size: 15px;
                font-family: "fonte1";
                width: 150px;
                text-align: center;
            }
        }
    }

    .s3{
        display: flex;

        height: 200px;
        width: 100%;

        justify-content: space-evenly;

        article{
            display: flex;
            flex-direction: column;

            align-items: center;

            img{
                height: 140px;
            }

            button{
                height: 50px;
                width: 140px;

                background-color: grey;
                color: white;

                border: none;
                border-radius: 15px;

                font-weight: bolder;
                font-family: "fonte1";

                transition: .2s;
            }

            button:hover{
                background-color: black;
                color: white;
                transform: scale(1.1);
                box-shadow: 2px 4px 10px 0px black;
            }
        }
    }
}