.Pagina-HomeAdm {
    display: flex;

    height: 100vh;
    width: 100%;

    .analise {
        display: flex;

        height: auto;
        width: 100%;

        flex-direction: column;

        .comp-opcoes {
            height: 400px;
        }
    }

    section {
        display: flex;

        height: 60vh;
        width: 100%;

        align-items: center;
        justify-content: space-evenly;

        background-color: #EBEBEB;

        article {
            display: flex;

            height: 150px;
            width: 250px;

            align-items: center;
            justify-content: space-evenly;

            border-radius: 15px;

            background-color: white;

            transition: .1s;

            .a1 {
                background-image: url(../../../public/assets/img/edit.png);
            }

            .a2 {
                background-image: url(../../../public/assets/img/i-plus.png);
            }

            .a3 {
                background-image: url(../../../public/assets/img/i-sair.png);
            }

            .a1,
            .a2,
            .a3 {

                height: 100px;
                width: 100px;

                background-repeat: no-repeat;
                background-size: 100%;
                background-position: 100%;
            }

            p {
                font-size: 20px;
            }
        }

        article:hover {
            transform: scale(1.1);
        }

        article:active {
            border: 0.5px solid black;
        }
    }

    .footer {
        display: flex;

        height: 100%;
        width: 100%;

        background-color: #EBEBEB;

        margin-top: 5px;

        background-image: url(../../assets/img/logo.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 60%;
    }

    .volta {
        text-decoration: none;
    }

    .comp-lateral {

        .rodape {
            display: none;
        }

        .rodape2 {
            display: none;
        }
    }
}

@media (max-width: 888px) {
    .Pagina-HomeAdm {

        .comp-lateral {
            display: none;
        }
    }
}

@media (max-width: 760px) {
    .Pagina-HomeAdm {
        section {
            article {

                width: 12rem;
                height: 130px;

                justify-content: space-evenly;

                .a1,
                .a2,
                .a3 {
                    width: 6rem;
                }
            }
        }
    }
}

@media (max-width: 720px) {
    .Pagina-HomeAdm {
        section {
            article {

                width: 10rem;

                .a1,
                .a2,
                .a3 {
                    width: 4.0rem;
                }
            }
        }
    }
}

@media (max-width: 486px) {
    .Pagina-HomeAdm {
        section {
            height: 300px;

            article {

                height: 100px;
                width: 7rem;

                .a1,
                .a2,
                .a3 {
                    width: 2.0rem;
                }
            }
        }
    }
}

@media (max-width: 360px) {
    .Pagina-HomeAdm{

        .analise{
            .comp-opcoes{
                height: 200px;
            }
        }

        section{
            height: 230px;

            article{

                height: 80px;
                width: 5.5rem;
                
                p{
                    font-size: 15px;
                }
            }
        }
    }
}