.pagina-vendasADM{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: #fff;

    > section{
        display: flex;
        flex-direction: column;
        width: 85%;
        height: 100vh;
    }

    .comp-opcoes{
        height: 200px;

        .vendas{   
            article:last-child{
                outline: 1px solid #B3B3B3;
            }

            article:last-child:hover{
                transform: inherit;
            }

            article:last-child:active{
                border: inherit;
            }
        }
    }


    .sas{
        background-color: #EBEBEB;
        margin-top: 5px;
        height: 66vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    table {
        width: 100%;
        width: 800px;
        border-collapse: separate;
        border-spacing: 0px 10px;
        font-size: 18px; 

        thead{

            th{
        background-color: #fff;
        border-right: 2px solid #ebebeb;
        border-bottom: 2px solid #ebebeb;
        padding: 12px 12px;
        text-align: left;
        }

        tr th:last-child{
            border-right: none;
            border-top-right-radius: 8px;
        }

        tr th:first-child{
            border-top-left-radius: 8px;
        }
        }
        
    }

    button{
        background-color: #000;
        color: #fff;
        padding: 10px 20px;
        border-radius: 20px;
        border: none;
        width: 300px;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover{
        background-color: #393939;
    }

}