.pagina-vendasADM{
    display: flex;
    flex-direction: row;
    min-height: 100vh;

    > section{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .comp-opcoes{
        height: 200px;

        .vendas{   
            article:last-child{
                outline: 1px solid #B3B3B3;
            }

            article:last-child:hover{
                transform: inherit;
            }

            article:last-child:active{
                border: inherit;
            }
        }
    }
}