.pagina-anexagem-produto {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    height: auto;
    width: 100%;

    .main-anexagem-produto{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 5px;
    }

    .conteudo{
        margin-top: 5px;
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: #EBEBEB;
        height: 110vh
    }

    .s1{
        background-color: #fff;

        height: auto;
        width: 83%;
        border-radius: 15px;
        padding: 0px 60px;
    }

    .cont-1{
        display: flex;
        justify-content: center;
        padding: 20px 0px;

        h1{
            font-family: 'baloothambi';
            font-size: 28px;
            margin-bottom: 20px;
        }
    }

    .cont-2{
        display: flex;
        flex-direction: row;
    }

    .sep-01{
        display: flex;
        flex-direction: column;
        margin-right: 40px;
        gap: 15px;

        h1{
            width: 90%;
            max-width: 250px;
            font-family: 'inria-sans';
            font-weight: lighter;
            margin-bottom: 20px;
        }

        input{
            border: 1px solid #000;
            height: 28px;
            border-radius: 5px;
            margin-bottom: 22px;
            font-family: 'inria-sans';
        }

        div{
            display: flex;

            align-items: center;
            justify-content: center;

            background-color: purple;

            select{
                height: 30px;
                border-radius: 5px;
                border: 1px solid #000;
                font-family: 'inria-sans';
                width: 250px;
            }
        }

        textarea{
            height: 70px;
            border: 1px solid #000;
            border-radius: 5px;
            font-family: 'inria-sans';
            margin-top: 10px;
            resize: none;
        }


        button{
            background-color: #000;
            color: #fff;
            border: none;
            padding: 10px;
            border-radius: 8px;
            font-family: 'inria-sans';  
            font-size: 20px;   
            width: 230px;      
            margin-top: 40px; 
        }
    }

    .sep-02{
        display: flex;
        flex-direction: column;
        gap: 45px;
        margin-right: 40px;
        margin-top: 10vh;

        justify-content: flex-end;

        > input{
            border: 1px solid #000;
            height: 38px;
            border-radius: 5px;
            font-family: 'inria-sans';
        }


        button{
            background-color: #000;
            color: #fff;
            border: none;
            padding: 10px;
            border-radius: 8px;
            font-family: 'inria-sans';  
            font-size: 20px;   
            width: 230px;   
            margin-top: 11vh;   
        }
    }

    .disponivel{
        label{
            font-family: 'inria-sans';
        }
    }

    .subcategoria{
        display: flex;
        flex-direction: column;

        select{
            height: 30px;
            border-radius: 5px;
            border: 1px solid #000;
            font-family: 'inria-sans';
            width: 250px;
        }

        textarea{
            height: 70px;
            border: 1px solid #000;
            border-radius: 5px;
            font-family: 'inria-sans';
            width: 250px;
            resize: none;
        }
    }

    .sep-03{
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 330px;
        display: flex;
        align-items: center;

        h1{
            font-family: 'inria-sans';
            margin-bottom: 15px;
        }

        > div{
            border: 1px solid #000;
            height: 220px;
            width: 210px;
            display: flex;
            border-radius: 5px;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
        }

        .imagemCapa1 {
            border-radius: 5px;   
            max-height: 100%;
            max-width: 100%;
        }

        .imagemCapa2 {
            border-radius: 5px;   
            max-height: 100%;
            max-width: 100%;
        }

        .imagemCapa3 {
            border-radius: 5px;   
            max-height: 100%;
            max-width: 100%;
        }

        > div img{
            width: 60px;
        }

        section{
            display: flex;
            flex-direction: row;
            width: 88%;
            height: 100px;
            justify-content: space-between;

        > div{
            width: 90px;
            border: 1px solid #000;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
        }

            img{
                width: 30px;
            }
        }
    }
    

    #imagemCapa {
        visibility: hidden;
        position: absolute;
    }

    #imagemCapa2 {
        visibility: hidden;
        position: absolute;
    }

    #imagemCapa3 {
        visibility: hidden;
        position: absolute;
    }

}

@media (max-width: 1185px){
    .pagina-anexagem-produto{
        .main-anexagem-produto{
            .conteudo{
                height: auto;
                .s1{
                    height: auto;

                    .cont-1{
                        h1{
                            text-align: center;
                        }
                    }

                    .cont-2{
                        align-items: center;
                        flex-direction: column;
                        justify-content: space-evenly;
                        .sep-01{
                            margin: inherit;
                            text-align: center;

                            button{
                                align-self: center;
                            }
                        }

                        .sep-02{
                            margin: inherit;
                            gap: 15px;
                            
                            height: 300px;

                            button{
                                align-self: center;
                                margin: inherit;
                            }

                            .subcategoria{
                                display: flex;
                                justify-content: space-evenly;

                                height: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
  
}