.pagina-entrega{
    background-color: #F0EFEF;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    > main{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 40px;

        padding: 50px 0px;

        justify-content: space-evenly;
        align-items: center;

        button{
            padding: 15px 10px;
            background-color: #000;
            color: #fff;
            border: none;
            cursor: pointer;
            width: 220px;
            font-weight: 600;
        }
    }

    .entrega{
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        width: 50%;
    }

    .entrega > h1{
        font-family: 'inder';
        margin-bottom: 60px;
        width: 60%;
    }

    .informacoes{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .informacoes > input{
        width: 68%;
        padding: 15px 10px;
        border-radius: 10px;
        margin-bottom: 20px;
        background-color: transparent;
        border: 1px solid black;
    }

    .cep{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .cep > input,
     .bairro > input,
      .cidade > input{
        width: 30.5%;
        margin-right: 40px;
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid black;
        padding: 12px 10px;
        margin-bottom: 20px;
    }

    .bairro, .cidade{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .contato{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .contato > input{
        width: 68%;
        padding: 15px 10px;
        border-radius: 10px;
        margin-bottom: 20px;
        background-color: transparent;
        border: 1px solid black;
    }

    .contato > h1{
        font-family: 'inder';
        margin-bottom: 60px;
        width: 60%;
    }

    .pagamento{
        display: flex;
        flex-direction: column;
        width: 35%;
    }

    .pagamento > h1{
        font-family: 'inder';
        text-align: center;
        margin-bottom: 55px;
        width: 100%;
    }

    .cartao-informacao{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 10px 25px;
        margin-bottom: 20px;
        width: 100%;
    }

    .head-cartao{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40px;
        width: 100%;
    }

    .credito{
        background-color: #fff;
        padding: 10px 20px;
        width: 40%;
    }

    .credito > p{
        font-family: "inder";
        font-weight: bold;
        width: 100%;
    }
    
    .boleto{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        width: 37%;
        border-radius: 3px;
        border-bottom: none;

        p{
            font: 15px 'inder';
            color: #656565;
        }
    }

    .debito{
        border: 1px solid #000000;
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        border-bottom: none;

        p{
            font: 15px 'inder';
            color: #656565;
        }
    }

    .credito-informacao{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .credito-input{
        display: flex;
        flex-direction: column;
        width: 100%;
        
        h2{
            font: 15px 'inder';
            font-weight: 600;
            margin-bottom: 5px;
        }

        input{
            padding: 15px 20px;
            background-color: transparent;
            border: 1px solid black;
            border-radius: 10px;
            outline: none;
            margin-bottom: 10px;
        }
    }

    .date-verificacao{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .validade{
        width: 100%;

        h2{
            font: 15px 'inder';
            font-weight: 600;
            margin-bottom: 5px;
        }

        input{
            padding: 15px 20px;
            background-color: transparent;
            border: 1px solid black;
            border-radius: 10px;
            outline: none;
            margin-bottom: 10px;
            width: 98%;
        }
    }

    .cvv{
        width: 100%;

        h2{
            font: 15px 'inder';
            margin-bottom: 5px;
            font-weight: 600;
        }

        input{
            padding: 15px 20px;
            background-color: transparent;
            border: 1px solid black;
            border-radius: 10px;
            outline: none;
            margin-bottom: 10px;
            width: 98%;
        }
    }

    .botao{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1342px){
    .pagina-entrega{
            .head-cartao{

       >div{
        >p{
            font-size: 13px !important;
        }
       }
    }
    }
}

@media (max-width: 992px){
    .pagina-entrega{
        .cartao-informacao{
            h2{
                font-size: 13px !important;
            }
        }
    }
}

@media (max-width: 768px){
    .pagina-entrega{
        .pagamento{
            width: 100% !important;
            max-width: 350px !important;
        }
    
        main{
            padding: 50px 20px !important;
    
            >div{
                >h1{
                font-size: 25px;
                margin-bottom: 30px !important;
            }
        }
        }
    
        .contato{
            h1{
                margin-bottom: 30px !important;
                font-size: 25px !important;
            }
        }
        
        .informacoes{
            > input{
            width: 100% !important;
            max-width: 263px;
        }
        }
    
        .contato{
            > input{
                width: 100% !important;
                max-width: 263px;
            }
        }
    }
}

@media (max-width: 666px){
    .pagina-entrega{
        main{
            flex-direction: column !important;
            
        }
    
        .entrega{
            width: 100% !important; 
            align-items: center !important;       
        }
    
        .informacoes{
            align-items: center !important;
    
            > input{
                max-width: 465px !important;
            }
        }
    
        .cep{
            display: flex;
            justify-content: center
        }
    
        .bairro{
            display: flex;
            justify-content: center
        }
    
        .cidade{
            display: flex;
            justify-content: center
        }
    }
}