.pagina-carrinho{
    background-color: #F0EFEF;
    width: 100%;
    height: 100vh;


    main{
        display: flex;
        flex-direction: row;
        padding: 40px 40px;
    }

    .carrinho-produtos{


        > h1{
            font: 30px 'inter';
            font-weight: 600;
            margin-bottom: 25px;
        }

        > p{
            font: 18px 'inter';
            margin-bottom: 20px;
            width: 660px;
        }
    }

    .finalizar{

        > div{
            background-color: #000;
            width: 400px;
            height: 26px;
            display: flex;
            align-items: center;
        }

        a{
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            font: 18px 'inder';
        }
    }
}