*{
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'fonte1';
  src: url(../public/assets/fonts/fonte1.ttf);
}

@font-face {
  font-family: 'inder';
  src: url( ../public/assets/fonts/inder.ttf);
}

@font-face {
  font-family: 'inter';
  src: url(../public/assets/fonts/inter.ttf);
}

@font-face {
  font-family: 'inria-sans';
  src: url(../public/assets/fonts/inria-sans.ttf);
}

@font-face {
  font-family: 'baloothambi';
  src: url(../public/assets/fonts/BalooThambi2-Regular.ttf);
}

@font-face {
  font-family: 'lexend';
  src: url(../public/assets/fonts/Lexend.ttf);
}