*{
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'fonte1';
  src: url(../public/assets/fonts/fonte1.ttf);
}

@font-face {
  font-family: 'inter';
  src: url( ../public/assets/fonts/inder.ttf);
}