.pagina-detalhes{
    display: flex;

    height: auto;
    width: 100%;

    background-color: #F0EFEF;

    flex-direction: column;


    .swiper-button-prev::after,
     .swiper-button-next::after{
        color: rgb(0, 0, 0);
    }

    .s1{
        display: flex;

        height: 600px;
        width: 100%;

        align-items: center;
        justify-content: center;
    
        article{
            display: flex;

            height: 400px;

            img{
                height: 100%;
                width: 100%;
            }

            margin-right: 100px;

        }

        aside{
            display: flex;

            height: 400px;
            width: 25%;

            flex-direction: column;

            .tb{
                display: flex;

                height: 180px;
                width: 100%;


                flex-direction: column;

                h1{
                    font-size: 25px;
                    font-family: 'inter';

                    width: 100%;
                }

                p:nth-child(2){
                    font-family: 'baloothambi';
                    font-size: 20px;
                }

                p:nth-child(3){
                    font-family: 'baloothambi';
                    font-size: 18px;
                }

                button{
                    display: flex;

                    height: 30px;
                    width: 100%;

                    align-items: center;
                    justify-content: center;
                    align-self: center;

                    border: none;
                    border-radius: 20px;

                    background-color: black;
                    color: white;

                    transition: .3s;

                    margin-top: 30px;
                }

                button:hover{
                    border: 1px solid black;
                    background-color: white;
                    color: black;
                }
            }

            .et{
                display: flex;
                
                flex-direction: column;

                p:nth-child(1){
                    font-family: 'inter';
                    text-decoration: underline;
                    margin-top: 12%;
                }

                p:nth-child(2){
                    font-family: 'baloothambi';
                    margin-top: 10%;
                }

                label{
                    display: flex;

                    height: 60px;
                    width: 100%;

                    justify-content: space-evenly;
                    align-items: flex-end;

                    input{
                        height: 50px;
                        width: 100%;
   
                        border: 1px solid black;
                    }

                    input:focus-visible{
                        outline: none;
                    }

                    button{
                        height: 50px;
                        width: 30%;

                        border: none;
                        background-color: black;
                        color: white;

                        border-radius: 10px;

                        transition: .2s;
                    }

                    button:hover{
                        border-radius: 15px;
                        outline: 1px solid white;
                    }

                    button:active{
                        font-size: 12px;
                    }
                }

                p:nth-child(4){
                    font-family: 'baloothambi';
                    text-decoration: underline;
                    padding-left: 18px;
                }
            }
        }
    }

    .s2{
        display: flex;

        height: auto;
        width: 100%;

        flex-direction: column;

        .a{
           font-size: 40px;
           font-family: 'inter';
           padding-left: 20px;
        }

        section{
            display: flex;

            height: 400px;
            width: 100%;

            align-items: center;
            
            label{
                display: flex;

                height: 320px;
                width: 100%;

                background-color: #D8D8D8;

                justify-content: space-evenly;
                align-items: center;
                
                article{
                    display: flex;

                    height: 80%;
                    width: 20%;

                    max-width: 200px;

                    background-color: white;

                    outline: 2px solid black;
                    border-radius: 10px;

                    flex-direction: column;


                    .f1{
                        display: flex;

                        height: 200px;
                        width: 100%;

                        border-radius: 10px;

                        background-image: url(../../assets/img/item1.png);
                        background-size: 50%;
                        background-repeat: no-repeat;
                        background-position: 50%;
                    }


                    .f2{
                        display: flex;

                        height: 200px;
                        width: 100%;

                        border-radius: 10px;

                        background-image: url(../../assets/img/item2.png);
                        background-size: 60%;
                        background-repeat: no-repeat;
                        background-position: 50%;
                    }

                    .f3{
                        display: flex;

                        height: 200px;
                        width: 100%;

                        border-radius: 10px;

                        background-image: url(../../assets/img/item3.png);
                        background-size: 80%;
                        background-repeat: no-repeat;
                        background-position: 50%;
                    }

                    .f4{
                        display: flex;

                        height: 200px;
                        width: 100%;

                        border-radius: 10px;

                        background-image: url(../../assets/img/item4.png);
                        background-size: 80%;
                        background-repeat: no-repeat;
                        background-position: 50%;
                    }

                    .f5{
                        display: flex;

                        height: 200px;
                        width: 100%;

                        border-radius: 10px;

                        background-image: url(../../assets/img/item5.png);
                        background-size: 70%;
                        background-repeat: no-repeat;
                        background-position: 50%;
                    }

                    .f6{
                        display: flex;

                        height: 200px;
                        width: 100%;

                        border-radius: 10px;

                        background-image: url(../../assets/img/item6.png);
                        background-size: 80%;
                        background-repeat: no-repeat;
                        background-position: 50%;
                    }
                    
                    footer:nth-child(2){
                        display: flex;

                        height: 150px;
                        width: 100%;

                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: center;

                        background-color: #CACACA;

                        border-radius: 10px;
                        outline: 2px solid black;
                        border-top-right-radius: 10px;
                        border-top-left-radius: 10px;
                    

                        P:nth-child(1){
                            font-size: 15px;
                            text-align: center;
                            font-family: 'baloothambi';
                        }
                        
                        p:nth-child(2){
                            font-weight: bolder;
                            font-size: 20px;
                            font-family: 'baloothambi';

                            text-align: center;
                        }

                        a{
                            display: flex;

                            align-items: center;
                            justify-content: center;

                            height: 20px;
                            width: 80%;

                            border-radius: 20px;

                            font-size: 65%;
                            font-family: 'baloothambi';

                            background-color: black;
                            color: white;
                
                            border: none;
                
                            transition: .3s;
                            text-decoration: none;
                        }
                
                        a:hover{
                            background-color: white;
                            color: black;
                        
                            outline: 1px solid black;
                        }
                    }
                }
            }
        }
    }


    .s3{
        display: flex;

        height: auto;
        width: 100%;

        flex-direction: column;

        article:nth-child(1){
            display: flex;

            height: auto;
            width: 80%;

            margin-bottom: 100px;

            flex-direction: column;
            justify-content: space-evenly;

            padding-left: 20px;

            section{
                height: auto;
                width: auto;

                h1{
                    font-size: 30px;
                    font-family: 'baloothambi';
                }

                p{
                    font-size: 20px;
                    font-family: 'inter';
                }
            }

            .p-s3{
                font-size: 20px;
                font-family: 'inter';

                padding-left: 20px;
            }
        }

        article:nth-child(2){
            display: flex;

            height: auto;
            width: 100%;


            flex-direction: column;
            justify-content: space-evenly;

            padding-left: 20px;

            margin-bottom: 100px;

            section{
                height: auto;
                width: auto;

                h1{
                    font-size: 30px;
                    font-family: 'baloothambi';
                }

                p{
                    font-size: 20px;
                    font-family: 'inter';
                    font-weight: bolder;
                    
                    letter-spacing: 5px;
                }
            }

            p:last-child{
                font-size: 18px;
                font-family: 'baloothambi';
                
                width: 50%;
                line-height: 24px;
            }
        }
    }

    .Rodape{
        background-color: white;
    }
}

@media (max-width: 900px){
   .pagina-detalhes{
        .s3{
            article:nth-child(2){
                section{
                    h1{
                        font-size: 20px;
                    }
                }

                p:last-child{
                    font-size: 15px;
                }
            }
        }
   }
}

@media (max-width: 720px) {
    .pagina-detalhes{
        .s1{
            margin-top: 20px;

            flex-direction: column;

            height: auto;

            article{
                margin-right: inherit;

                justify-content: center;

                img{
                    width: 100%;
                    height: 80%;
                }
            }

            aside{
                width: 100%;

                align-items: center;

                .tb{
                    align-items: center;
                    
                    h1{
                        text-align: center;
                        font-size: 20px;
                    }

                    p:nth-child(2){
                        font-size: 18px;
                    }

                    p:nth-child(3){
                        font-size: 15px;
                    }

                    button{
                        width: 50%;
                    }
                }
            }
        }

        .s2{
            .a{
                font-size: 30px;
            }

            section{
                label{
                    article{
                        width: 25%;
                    }
                }
            }

        }

        .s3{
            article:nth-child(1){
                section{
                    h1{
                        font-size: 20px;
                    }

                    p{
                        font-size: 15px;
                    }
                }

                p:nth-child(2), 
                 p:nth-child(3){
                    font-size: 15px;
                }
           }

           article:nth-child(2){
                width: 100%;
           }

        }
    }
}

@media (max-width: 582px) {
    .pagina-detalhes{
        .s2{
            height: 350px;
            
            section{
                label{
                    height: 250px;

                    article{
                        height: 70%;

                        footer:nth-child(2){
                            a{
                                font-size: 45%;
                                text-align: center;

                                width: 90%;
                                height: 23px;
                            }

                            P:nth-child(1){
                                font-size: 12px;
                            }
                            
                            p:nth-child(2){
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 360px){
    .pagina-detalhes{
        .s1{
            aside{
                .tb{
                    button{
                        width: 70%;
                    }
                }

                .et{
                    p:nth-child(1){
                        font-size: 14px;
                    }
                }
            }
        }

        .s2{
            .a{
                font-size: 23px;
            }
        }
    }
}
