.comp-lateral{
    display: flex;

    flex-direction: column;
    justify-content: space-between;

    width: 15%;

    background-color: black;

    nav{
        display: flex;

        height: 130px;
        width: 80%;

        background-color: white;
        border-radius: 50%;

        align-items: center;
        justify-content: center;

        margin-top: 20px;
        margin-left: 10px;

        max-width: 160px;


        img{
            height: 65%;
            width: 65%;

            max-width: 200px;
        }
    }

    footer{
        display: flex;

        height: auto;
        width: 100%;

        flex-direction: column-reverse;
        justify-content: center;

        img{
            height: 50px;
            padding-left: 10px;
        }

        p{
            color: white;

            padding: 20px;

            font-family: 'inter';
        }
    }

    .rodape{
        display: flex;

        height: auto;
        width: auto;

        flex-direction: row;
        padding-right: 10px;
    }

    .voltas{
        display: flex;

        flex-direction: row;
    }

    .rodape2{
        display: flex;

        height: auto;
        width: auto;

        flex-direction: row;
    }
 
    .rodape img, .rodape2 img{
        transition: .12s;
    }

    .rodape img:hover, .rodape2 img:hover{
        transform: scale(1.1);
    }
}