.pagina-estoqueAdm {
  display: flex;

  height: auto;
  width: 100%;

  .analise {
    display: flex;

    height: auto;
    width: 85%;

    flex-direction: column;


    .comp-opcoes {
      height: 200px;

      .estoque {
        article:last-child {
          outline: 1px solid #b3b3b3;
        }

        article:last-child:hover {
          transform: inherit;
        }

        article:last-child:active {
          border: inherit;
        }
      }
    }

    section {
      display: flex;

      height: 630px;
      width: 100%;

      margin-top: 5px;

      background-color: #ebebeb;

      align-items: flex-end;
      justify-content: space-evenly ;

      article:nth-child(1) {
        display: flex;

        height: 80%;
        width: 150px;

        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        background-color: white;

        h1 {
          font-size: 25px;
          font-family: "inria-sans";
        }

        aside {
          display: flex;

          height: 60%;
          width: auto;

          flex-direction: column;
          justify-content: space-between;


          p {
            font-size: 18px;
            font-family: "inter";
          }
        }

        button {
          color: white;
          background-color: black;
          border-radius: 20px;

          border: none;

          height: 30px;
          width: 130px;

          font-family: "fonte1";

          transition: .2s;
        }

        button:hover{
          background-color: white;
          color: black;

          outline: 1px solid black;
          font-weight: bolder;
        }
      }

      .sas {
        display: flex;

        height: 80%;
        width: 80%;

        overflow-y: scroll;

        flex-direction: column;

        align-items: center;

        aside{
          display: flex;

          height: 150px;
          width: 98%;

          background-color: #BEBEBE;

          justify-content: center;
          align-items: center;

          border-radius: 20px;

          margin: 5px;

          .itens{
            display: flex;

            height: 125px;
            width: 97%;

            background-color: white;

            border-radius: 20px;

            img{
              height: 100px;
              width: 100px;
            }

            .infos{
              display: flex;

              height: auto;
              width: auto;

              justify-content: center;

              h1{
                font-family: 'inter';

                font-size: 20px;
              }
            }
          }

          .ifs{
            display: flex;

            height: auto;
            width: auto;

            align-self: center;

            flex-direction: column;
          }
        }

      }
        .sas::-webkit-scrollbar{
            width: 10px;
        }

        .sas::-webkit-scrollbar-track{
            background: transparent;
            width: 10px;
        }
        .sas::-webkit-scrollbar-thumb{
            background-color: grey;
            border-radius: 14px;
        }
    }
  }
}
